<header class="header">
		<div class="container mx-auto">
			<div class="flex justify-between items-center">
				<div class="header_logo">
					<img src="../assets/img/logo.svg" alt="" width="222px">
				</div>
				<nav class="header_menu">
					<ul class="flex justify-between">
						<li>
							<a href="#" class="header_menu_link active">Обзор</a>
						</li>
						<li>
							<a href="#" class="header_menu_link">Продукт</a>
						</li>
						<li>
							<a href="#" class="header_menu_link">Блог</a>
						</li>
						<li>
							<a href="#" class="header_menu_link">Портфолио</a>
						</li>
						<li>
							<a href="#" class="header_menu_link">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="header_lang lang-toggle">
					<div class="select">
						<select>
						  <option>RU</option>
						  <option>ENG</option>
						</select>	
					</div>
				</div>
			</div>
		</div>
	</header>