.header {
	width: 100%;
	position: fixed;
	z-index: 9;
	&_menu {
		li {
			margin-right: 16px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		&_link {
			position: relative;
			font-family: 'Roboto Regular';
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			color: #ffffff;
			padding: 15px;
			-webkit-transition: all 0.12s;
			-o-transition: all 0.12s;
			transition: all 0.12s;
			&.active {
				color: #FF6600;
				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0; left: 0;
					background: #FF6600;
					border-radius: 24px;
					opacity: 0.12;
				}
			}
			&:hover {
				color: #FF6600;
				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0; left: 0;
					background: #FF6600;
					border-radius: 24px;
					opacity: 0.12;
				}
			}
		}
	}
}

.overview {
	position: relative;
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0; top: 0;
		background: -o-linear-gradient(top, rgba(0, 0, 0, 0.73) 5.02%, rgba(7, 13, 24, 0.0001) 25.74%), -o-linear-gradient(right, rgba(0, 10, 18, 0.954764) 0%, rgba(12, 35, 56, 0.156004) 100%), rgba(0, 13, 25, 0.145569);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(5.02%, rgba(0, 0, 0, 0.73)), color-stop(25.74%, rgba(7, 13, 24, 0.0001))), -webkit-gradient(linear, right top, left top, from(rgba(0, 10, 18, 0.954764)), to(rgba(12, 35, 56, 0.156004))), rgba(0, 13, 25, 0.145569);
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.73) 5.02%, rgba(7, 13, 24, 0.0001) 25.74%), linear-gradient(270deg, rgba(0, 10, 18, 0.954764) 0%, rgba(12, 35, 56, 0.156004) 100%), rgba(0, 13, 25, 0.145569);
		background-blend-mode: normal, multiply, overlay;
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
		-ms-transform: matrix(-1, 0, 0, 1, 0, 0);
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	&_01 {
		background: url(../img/overview_01_bg.jpg);
		background-size: cover;
		background-position: 50%;
		&:before {
			content: none;
		}
		&_title {
			position: relative;
			font-family: Roboto Regular;
			font-style: normal;
			font-weight: bold;
			font-size: 32px;
			line-height: 48px;
			text-transform: uppercase;
			color: #FFFFFF;
			z-index: 1;
			padding: 25px;
		}
		&_list {
			position: relative;
			z-index: 1;
			padding: 25px;
			padding-top: 0;
		}
		&_item {
			width: 33%;
			height: 110px;
			background: #313033;
			-webkit-backdrop-filter: blur(97.8581px);
			backdrop-filter: blur(97.8581px);
			border-radius: 16px;
			margin-right: 15px;
			&:last-of-type {
				margin-right: 0;
			}
		}
		&_btn {
			padding: 25px;
			padding-top: 0;
		}
		.overview_content {
			width: 43%;
			padding: 25px;
			margin-left: 65px;
			&:before {
				content: '';
				width: -webkit-calc(20px + 100%);
				width: calc(20px + 100%);
				height: -webkit-calc(100% + 25px);
				height: calc(100% + 25px);
				position: absolute;
				left: 2px; top: 0;
				background: url('../img/overview_01_content_obj.png');
				background-size: cover;
			}
			&:after {
				content: '';
				position: absolute;
				left: 25px;
				top: 25px;
				width: -webkit-calc(100% - 25px);
				width: calc(100% - 25px);
				height: -webkit-calc(100% - 25px);
				height: calc(100% - 25px);
				background-color: #000000;
			}
		}
	}
	&_02 {
		background: url(../img/overview_02_bg.jpg);
		background-size: cover;
		background-position: 50%;
	}
	&_03 {
		background: url(../img/overview_03_bg.jpg);
		background-size: cover;
		background-position: 50%;
	}
	&_04 {
		background-color: #121212;
		overflow: hidden;
	}
	&_05 {
		background: url(../img/overview_05_bg.jpg);
		background-size: cover;
		background-position: 50%;
	}
	&_06 {
		background-color: #121212;
		overflow: hidden;
	}
	&_07 {
		background: url(../img/overview_07_bg.jpg);
		background-size: cover;
		background-position: 50%;
	}
	&_content {
		width: 45%;
		position: absolute;
		top: 50%;
		left: auto;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		&_title {
			font-family: 'Roboto Bold';
			font-style: normal;
			font-weight: bold;
			font-size: 72px;
			line-height: 108px;
			letter-spacing: -1.5px;
			text-transform: uppercase;
			color: #FFFFFF;
			margin-bottom: 25px;
		}
		&_subtitle {
			font-family: 'Roboto Bold';
			font-style: normal;
			font-weight: bold;
			font-size: 34px;
			line-height: 40px;
			letter-spacing: 0.25px;
			text-transform: uppercase;
			color: #FFFFFF;
		}
		&_text {
			font-family: 'Roboto Light';
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 26px;
			letter-spacing: 0.25px;
			color: #FFFFFF;
			margin-bottom: 80px;
		}
	}
	&_line {
		width: 1px;
		height: 48px;
		background-color: #ffffff;
		opacity: 0.12;
		margin: 0 35px;
	}
	&_prev, &_next {
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FF6600;
		cursor: pointer;
	}
	&_bottom {
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		&_down {
			font-family: 'Roboto Light';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.25px;
			color: #FFFFFF;
		}
		&_numbers {
			span {
				font-family: 'Roboto Bold';
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.15px;
				color: rgba(255, 255, 255, 0.6);
				&:first-of-type {
					font-size: 48px;
					line-height: 56px;
					color: #ffffff;
				}
			}
		}
	}
}