@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}