<div class="constr">
			<div class="wrapper mx-auto constr-option">
				<div class="constr_wrapper flex flex-col lg:flex-row relative">
					<div class="constr_meta w-full lg:w-1/3 mb-12 lg:mb-0">
						<div class="constr_meta_sticky">
							<a href=index.html class="back-btn inline-flex items-center mb-5">
								<img src="img/arrow.svg" alt="" width="20px">
								<span>Назад</span>
							</a>
							<div class="constr_title">
								Выберите Опцию
							</div>
							<div class="constr_pagi">
								<div class="constr_bullet active"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
							</div>
						</div>
					</div>
					<div class="constr_content w-full md:w-auto flex flex-col md:flex-row flex-wrap lg:pl-16">
						<div class="constr_link option constr_next_slide_js cursor-pointer" data-select-option="wired">
							<div class="constr_block slide-options">
								<div class="constr_block_subtitle slide-options mb-1 md:mb-2">
									Опция #1
								</div>
								<div class="constr_block_title slide-options mb-3">
									Планируется Ремонт
								</div>
								<div class="constr_block_text">
									Мы используем проводные устройства, которые не требуют подзарядки и более надежны.
								</div>
								<div class="constr_block_next">
									<img src="img/constr/next.svg">
								</div>
							</div>
						</div>
						<div class="constr_link option constr_next_slide_js cursor-pointer" data-select-option="wireless">
							<div class="constr_block slide-options">
								<div class="constr_block_subtitle mb-1 md:mb-2">
									Опция #2
								</div>
								<div class="constr_block_title mb-3">
									Ремонт уже сделан
								</div>
								<div class="constr_block_text">
									Мы используем беспроводные устройства, которые не повредят Ваш интерьер.
								</div>
								<div class="constr_block_next">
									<img src="img/constr/next.svg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>