<div class="constr">
			<div class="wrapper mx-auto">
				<div class="constr_wrapper flex flex-col lg:flex-row relative">
					<div class="constr_meta w-full lg:w-1/3">
						<div class="constr_meta_sticky">
							<div class="back-btn inline-flex items-center mb-5 constr_back_slide_js">
								<img src="img/arrow.svg" alt="" width="20px">
								<span>Back</span>
							</div>
							<div class="constr_title">
								Select your paket
							</div>
							<div class="constr_pagi">
								<div class="constr_bullet"></div>
								<div class="constr_bullet active"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
							</div>
						</div>
					</div>
					<div class="constr_content w-full lg:w-2/3 flex flex-col lg:flex-row lg:pl-24">
						<div href="#" class="constr_link constr_next_slide_js cursor-pointer">
							<div class="constr_block">
								<div class="constr_block_subtitle mb-1">
									Usd 9.99
								</div>
								<div class="constr_block_title mb-3">
									Comfort
								</div>
								<div class="constr_block_subtitle">
									Safety
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Motion sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Door sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Fire detector</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
								</ul>
								<div class="constr_block_subtitle">
									Comfort
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Motion sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Door sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Fire detector</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
								</ul>
							</div>
						</div>
						<div href="#" class="constr_link constr_next_slide_js cursor-pointer">
							<div class="constr_block">
								<div class="constr_block_subtitle mb-1">
									usd 9.99
								</div>
								<div class="constr_block_title mb-3">
									Business
								</div>
								<div class="constr_block_subtitle mb-1">
									Safety
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Motion sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Door sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Fire detector</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>