<div class="constr">
			<div class="wrapper mx-auto">
				<div class="constr_wrapper flex flex-col lg:flex-row relative">
					<div class="constr_meta w-full lg:w-1/3">
						<div class="constr_meta_sticky">
							<div class="back-btn inline-flex items-center mb-5 constr_back_slide_js">
								<img src="img/arrow.svg" alt="" width="20px">
								<span>Назад</span>
							</div>
							<div class="constr_title">
								Выберите Пакет
							</div>
							<div class="constr_pagi">
								<div class="constr_bullet"></div>
								<div class="constr_bullet active"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
							</div>
						</div>
					</div>
					<div class="constr_content w-full lg:w-2/3 flex flex-col lg:flex-row lg:pl-16 mb-10">
						<div href="#" class="constr_link constr_next_slide_js cursor-pointer">
							<div class="constr_block">
								<div class="constr_block_subtitle mb-1">
									Usd 9.99
								</div>
								<div class="constr_block_title mb-3">
									Комфорт
								</div>
								<div class="constr_block_subtitle">
									Безопасность
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/personal.svg" alt="">
										<span>Датчик движения</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/door.svg" alt="">
										<span>Датчик двери</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/fire.svg" alt="">
										<span>Пожарный датчик</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/leakage.svg" alt="">
										<span>Датчик протечки</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/alarm.svg" alt="">
										<span>Кнопка тревоги</span>
									</li>
								</ul>
								<div class="constr_block_subtitle">
									Комфорт
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/panel.svg" alt="">
										<span>Панель управления</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/turn-off.svg" alt="">
										<span>Функция "Выключить все"</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/temp.svg" alt="">
										<span>Датчик температуры</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/sensor.svg" alt="">
										<span>Датчик влажности</span>
									</li>
								</ul>
							</div>
						</div>
						<div href="#" class="constr_link constr_next_slide_js cursor-pointer">
							<div class="constr_block">
								<div class="constr_block_subtitle mb-1">
									usd 9.99
								</div>
								<div class="constr_block_title mb-3">
									Бизнес
								</div>
								<div class="constr_block_subtitle mb-1">
									Безопасность
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/personal.svg" alt="">
										<span>Датчик движения</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/door.svg" alt="">
										<span>Датчик двери</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/fire.svg" alt="">
										<span>Пожарный датчик</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/leakage.svg" alt="">
										<span>Датчик протечки</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/alarm.svg" alt="">
										<span>Кнопка тревоги</span>
									</li>
								</ul>
								<div class="constr_block_subtitle">
									Комфорт
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/panel.svg" alt="">
										<span>Панель управления</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/turn-off.svg" alt="">
										<span>Функция "Выключить все"</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/temp.svg" alt="">
										<span>Датчик температуры</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/sensor.svg" alt="">
										<span>Датчик влажности</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>