<div class="constr">
			<div class="wrapper mx-auto">
				<div class="constr_wrapper flex flex-col lg:flex-row relative">
					<div class="constr_meta w-full lg:w-1/3">
						<div class="constr_meta_sticky">
							<a href=index.html class="back-btn inline-flex items-center mb-5">
								<img src="img/arrow.svg" alt="" width="20px">
								<span>Back</span>
							</a>
							<div class="constr_title">
								Select your option
							</div>
							<div class="constr_pagi">
								<div class="constr_bullet active"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
							</div>
						</div>
					</div>
					<div class="constr_content w-full lg:w-2/3 flex flex-col lg:flex-row lg:pl-16">
						<div class="constr_link constr_next_slide_js cursor-pointer">
							<div class="constr_block slide-options">
								<div class="constr_block_subtitle slide-options mb-1">
									Option #1
								</div>
								<div class="constr_block_title slide-options mb-3">
									I have yet to repair
								</div>
								<div class="constr_block_text">
									We will use the wired devices that do not require recharging and more reliable.
								</div>
							</div>
						</div>
						<div href="#" class="constr_link constr_next_slide_js cursor-pointer">
							<div class="constr_block">
								<div class="constr_block_subtitle mb-1">
									Option #2
								</div>
								<div class="constr_block_title mb-3">
									I already made a repair
								</div>
								<div class="constr_block_text">
									We will use wireless devices that will not damage your interior.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>