<div class="constr">
			<div class="wrapper mx-auto">
				<div class="constr_wrapper flex flex-col lg:flex-row relative">
					<div class="constr_meta w-full lg:w-1/3">
						<div class="constr_meta_sticky">
							<div class="flex justify-between items-center mb-5">
								<div class="back-btn inline-flex items-center constr_back_slide_js">
									<img src="img/arrow.svg" alt="" width="20px">
									<span>Back</span>
								</div>
								<div class="constr_preview flex items-center cursor-pointer" data-modal-id="modal_preview">
									<img src="img/constr/preview_icon.svg" alt="" width="20px" class="mr-2">
									<span>Preview</span>
								</div>
							</div>
							<div class="constr_title">
								Send a request
							</div>
							<div class="constr_pagi mb-12">
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet"></div>
								<div class="constr_bullet active"></div>
							</div>
							<div class="constr_meta_info flex items-center">
								<div class="main-btn cursor-pointer bg-main text-white mr-6 modal_click_js" data-modal-id="send_request">
									Send a request
								</div>
								<div class="constr_meta_paket flex flex-col">
									<div class="constr_meta_paket_top">
										Total
									</div>
									<div class="constr_meta_paket_bottom">
										Usd 13.97
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="constr_content w-full lg:w-2/3 flex flex-col lg:flex-row lg:pl-24">
						<div class="w-full lg:w-1/2 mr-0 lg:mr-2">
							<div class="constr_block h-full">
								<div class="constr_block_subtitle mb-1">
									Usd 9.99
								</div>
								<div class="constr_block_title mb-3">
									Comfort
								</div>
								<div class="constr_block_subtitle">
									Safety
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Motion sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Door sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Fire detector</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
								</ul>
								<div class="constr_block_subtitle">
									Comfort
								</div>
								<ul class="constr_block_list">
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Motion sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Door sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Fire detector</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
									<li class="constr_block_item">
										<img src="img/constr/Filled.svg" alt="">
										<span>Leakage sensor</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="w-full lg:w-1/2 ml-0 lg:ml-2">
							<div class="constr_block h-full">
								<div class="constr_block_subtitle mb-1">
									Usd 3.98
								</div>
								<div class="constr_block_title mb-3">
									Options
								</div>
								<div class="constr_block_subtitle mb-3">
									Safety
								</div>
								<div class="flex justify-between items-center">
									<!-- Constructor ABOUT-ITEM :: components/constructor/constructor-about-item.html -->
									@@include('components/constructor/constructor-about-item.html')	
									
									<!-- Constructor Item Count -->
									<div class="constr-add-count flex items-center" data-box-id="6">
										<div class="constr_count flex">
											<span class="constr_count_minus">
												<img src="img/icons/minus.svg" alt="" width="15px">
											</span>
											<input type="text" value="1" class="constr_count_input">
											<span class="constr_count_plus plus">
												<img src="img/icons/plus.svg" alt="" width="15px">
											</span>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>