/* MORNING ANIMATION */
.overview[data-slide-id="2"] {
	.animate-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.9) 100%, rgba(0,0,0,0.25) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(0,0,0,0.9)), to(rgba(0,0,0,0.25)));
    background-image: linear-gradient(90deg, rgba(0,0,0,0.9) 100%, rgba(0,0,0,0.25) 100%);
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    z-index: 99;
	}
}

.overview_morning_notices_wrapper.show-smart {
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}



@-webkit-keyframes preloader_logo_move {
	0% {
		opacity: 1s;
	}
	20% {
		opacity: 1s;
		right: 0;
	}
	40% {
		opacity: 1s;
		right: 300px;
	}
	95% {
		opacity: 1;
		right: 300px;
	}
	100% {
		opacity: 0;
		right: 300px;
	}
}

@keyframes preloader_logo_move {
	0% {
		opacity: 1s;
	}
	20% {
		opacity: 1s;
		right: 0;
	}
	40% {
		opacity: 1s;
		right: 300px;
	}
	95% {
		opacity: 1;
		right: 300px;
	}
	100% {
		opacity: 0;
		right: 300px;
	}
}

@-webkit-keyframes preloader_logo_move_mobile {
	0% {
		opacity: 1s;
	}
	20% {
		opacity: 1s;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	40% {
		opacity: 1s;
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
	}
	95% {
		opacity: 1;
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
	}
}

@keyframes preloader_logo_move_mobile {
	0% {
		opacity: 1s;
	}
	20% {
		opacity: 1s;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
	}
	40% {
		opacity: 1s;
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
	}
	95% {
		opacity: 1;
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-150%);
		transform: translateY(-150%);
	}
}

@-webkit-keyframes preloader_text_move {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes preloader_text_move {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


@-webkit-keyframes welcome_shape {
	0% {
		opacity: 0.75;
		-webkit-transform: rotateX(75deg) scale(0.5) translateY(0%);
		transform: rotateX(75deg) scale(0.5) translateY(0%);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(75deg) scale(1.05) translateY(900%);
		transform: rotateX(75deg) scale(1.05) translateY(900%);
	}
}


@keyframes welcome_shape {
	0% {
		opacity: 0.75;
		-webkit-transform: rotateX(75deg) scale(0.5) translateY(0%);
		transform: rotateX(75deg) scale(0.5) translateY(0%);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotateX(75deg) scale(1.05) translateY(900%);
		transform: rotateX(75deg) scale(1.05) translateY(900%);
	}
}

@-webkit-keyframes notice_move {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes notice_move {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@-webkit-keyframes torchere_path_move_up {
	0% {
		opacity: 0;
		margin-top: 4%;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		margin-top: 0%;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes torchere_path_move_up {
	0% {
		opacity: 0;
		margin-top: 4%;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		margin-top: 0%;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes torchere_path_move_down {
	0% {
		opacity: 0;
		margin-top: -4%;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		margin-top: 0%;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes torchere_path_move_down {
	0% {
		opacity: 0;
		margin-top: -4%;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		margin-top: 0%;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}