.contacts {
	min-height: 100vh;
	background-image: -o-linear-gradient(top, #000000 0%, #191a30 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#191a30));
	background-image: linear-gradient(180deg, #000000 0%, #191a30 100%);
	.header {
		position: relative;
	}
	&_block {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include for-phone {
			position: relative;
			top: 0;
			transform: translateY(0);
			padding: 0 10px;
			margin-bottom: 1.5rem;
		}
	}
	&_box {
		color: #ffffff;
		font-size: 18px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 20px;
		@include for-phone {
			text-align: center;
		}
		&_title {
			color: $main_color;
		}
		&_icon {
			width: 21px;
			@include for-phone {
				display: none;
			}
		}
	}
}