$phone_size: 320px; 
$tablet_size: 767px;
$desktop_size: 1280px;
$pc_size: 1440px;
@mixin for-phone {
  @media (max-width: $tablet_size) { @content; }
}

@mixin for-tablet {
  @media (min-width: $tablet_size) and (max-width: $desktop_size) { @content; }
}

@mixin for-pc {
  @media (min-width: $desktop_size) and (max-width: $pc_size) { @content; }
}