$phone_size: 320px; 
$tablet_size: 768px;
$desktop_size: 1280px;
$pc_size: 1600px;
$full_size: 2160px;

@mixin for-phone {
  @media (max-width: $tablet_size) { @content; }
}

@mixin for-tablet {
  @media (min-width: 769px) and (max-width: $desktop_size) { @content; }
}

@mixin for-desktop {
  @media (min-width: $desktop_size) and (max-width: $pc_size) { @content; }
}

@mixin for-pc {
  @media (min-width: $pc_size) and (max-width: $full_size) { @content; }
}

@mixin for-dock {
	@media (min-width: $desktop_size) and (min-height: 580px) and (max-height: 1079px) { @content; }
}

