.products-page {
	min-height: 100vh;
	background-image: -o-linear-gradient(top, #000000 0%, #191a30 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#191a30));
	background-image: linear-gradient(180deg, #000000 0%, #191a30 100%);
	.header {
		position: relative;
	}
}

.products {
	&-masonry {
		width: -webkit-calc(33.3333% - 20px);
		width: calc(33.3333% - 20px);
		margin-bottom: 20px;
		@include for-tablet {
			width: -webkit-calc(50% - 20px);
			width: calc(50% - 20px);
		}
		@include for-phone {
			width: 100%;
		}
		&-size {
			width: -webkit-calc(33.3333% - 20px);
			width: calc(33.3333% - 20px);
			@include for-tablet {
				width: -webkit-calc(50% - 20px);
				width: calc(50% - 20px)
			}
			@include for-phone {
				width: 100%;
			}
		}
	}
	&_wrap {
		padding-top: 60px;
		margin: 0 -20px;
		@include for-phone {
			margin: 0;
		}
	}
	&_item {
		display: inline-block;
		background: rgba(255,255,255,0.10);
		border-radius: 20px;
		&_photo {
			height: 315px;
			@include for-desktop {
				height: 240px;
			}
			@include for-phone {
				height: 220px;
			}
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				border-radius: 20px;
			}
		}
		&_title {
			font-family: "Roboto Bold";
			font-size: 30px;
			color: #FFFFFF;
			text-align: left;
			line-height: 41px;
			text-transform: uppercase;
		}
		&_text {
			font-family: "Roboto Regular";
			font-size: 20px;
			color: #FFFFFF;
			letter-spacing: 0.25px;
			line-height: 26px;
			@include for-phone {
				font-size: 16px;
				letter-spacing: 0.2px;
				line-height: 22px;
			}
		}
	}
}