<?xml version="1.0" encoding="UTF-8"?>
<svg id="shtora" width="100%" height="290px" viewBox="0 0 320 290" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <style>
		.shtora-left {
			transform-origin: left;
		}
		.shtora-right {
			transform-origin: center;
		}

		#shtora:hover .shtora-left {
			animation: shtora_move_left 8s infinite;
		}

		#shtora:hover .shtora-right {
			animation: shtora_move_right 8s infinite;
		}

		@keyframes shtora_move_left {
			0% {
				transform: scaleX(1);
			}
			50% {
				transform: scaleX(2.35);
			}
			100% {
				transform: scaleX(1);
			}
		}

		@keyframes shtora_move_right {
			0% {
				transform: scaleX(1) translateX(0px);
			}
			50% {
				transform: scaleX(2.35) translateX(-5px);
			}
			100% {
				transform: scaleX(1) translateX(0px);
			}
		}
		</style>
    <defs>
        <rect id="shtorapath-1" x="0" y="0" width="320" height="290"></rect>
        <rect id="shtorapath-3" x="0" y="0" width="100" height="156"></rect>
    </defs>
    <g id="shtoraConstructor" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="shtoraConstructor_Select-advanced-options" transform="translate(-1114.000000, -1090.000000)">
            <g id="shtoraGroup-46" transform="translate(778.000000, 222.000000)">
                <g id="shtoraGroup-6-Copy" transform="translate(0.000000, 868.000000)">
                    <g id="shtoraRectangle-2" transform="translate(336.000000, 0.000000)">
                        <mask id="shtoramask-2" fill="white">
                            <use xlink:href="#shtorapath-1"></use>
                        </mask>
                        <g id="shtoraRectangle"></g>
                        <g id="shtoraGroup-34" mask="url(#shtoramask-2)">
                            <g transform="translate(110.000000, 62.000000)">
                                <mask id="shtoramask-4" fill="white">
                                    <use xlink:href="#shtorapath-3"></use>
                                </mask>
                                <g id="shtoraRectangle" stroke="none" fill="none"></g>
                                <g id="shtoraGroup-33" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" mask="url(#shtoramask-4)">
                                    <g transform="translate(-24.000000, 6.000000)" stroke="#FFFFFF">
                                        <rect id="shtoraRectangle" x="9" y="0" width="130" height="140"></rect>
                                        <rect id="shtoraRectangle" x="14" y="5" width="120" height="130"></rect>
                                        <rect id="shtoraRectangle" x="75" y="7" width="57" height="126"></rect>
                                        <rect id="shtoraRectangle-Copy-19" x="16" y="7" width="57" height="126"></rect>
                                        <rect id="shtoraRectangle" x="70.5" y="67.5" width="1" height="6"></rect>
                                        <rect id="shtoraRectangle-Copy-21" x="77.5" y="67.5" width="1" height="6"></rect>
                                        <rect id="shtoraRectangle-Copy-18" x="80" y="12" width="47" height="116"></rect>
                                        <rect id="shtoraRectangle-Copy-20" x="21" y="12" width="47" height="116"></rect>
                                        <rect id="shtoraRectangle-Copy-17" x="0" y="140" width="148" height="4"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g id="shtoraGroup-32" mask="url(#shtoramask-2)">
                            <g transform="translate(72.000000, 45.000000)">
                                <g id="shtoraGroup-31" stroke="none" fill="none" transform="translate(5.000000, 8.000000)" stroke-linejoin="round">
                                    <path d="M5.6686747,-0.5 L5.6686747,208.064813 L-0.5,202.944628 L-0.5,-0.5 L5.6686747,-0.5 Z M11.2349398,-0.5 L11.2349398,202.944628 L5.06626506,208.064813 L5.06626506,-0.5 L11.2349398,-0.5 Z M16.8012048,-0.5 L16.8012048,208.064813 L10.6325301,202.944628 L10.6325301,-0.5 L16.8012048,-0.5 Z M22.3674699,-0.5 L22.3674699,202.944628 L16.1987952,208.064813 L16.1987952,-0.5 L22.3674699,-0.5 Z M27.9337349,-0.5 L27.9337349,208.064813 L21.7650602,202.944628 L21.7650602,-0.5 L27.9337349,-0.5 Z M33.5,-0.5 L33.5,202.944628 L27.3313253,208.064813 L27.3313253,-0.5 L33.5,-0.5 Z" id="Combined-Shape" stroke="#FFFFFF" fill="#313033" class="shtora-left"></path>
                                    <path d="M138.668675,-0.5 L138.668675,208.064813 L132.5,202.944628 L132.5,-0.5 L138.668675,-0.5 Z M144.23494,-0.5 L144.23494,202.944628 L138.066265,208.064813 L138.066265,-0.5 L144.23494,-0.5 Z M149.801205,-0.5 L149.801205,208.064813 L143.63253,202.944628 L143.63253,-0.5 L149.801205,-0.5 Z M155.36747,-0.5 L155.36747,202.944628 L149.198795,208.064813 L149.198795,-0.5 L155.36747,-0.5 Z M160.933735,-0.5 L160.933735,208.064813 L154.76506,202.944628 L154.76506,-0.5 L160.933735,-0.5 Z M166.5,-0.5 L166.5,202.944628 L160.331325,208.064813 L160.331325,-0.5 L166.5,-0.5 Z" id="Combined-Shape-Copy-19" stroke="#FFFFFF" fill="#313033" class="shtora-right"></path>
                                </g>
                                <rect id="shtoraRectangle" stroke="#FFFFFF" fill="#313033" x="0" y="0" width="176" height="11" rx="2"></rect>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>