<svg id="voice" width="100%" height="290" viewBox="0 0 320 290" fill="none" xmlns="http://www.w3.org/2000/svg">
	<style>
		body {
			background-color: #000;
		}
		.voice-md {
			stroke-dasharray: 305;
			stroke-dashoffset: 100;
		}
		.voice-xs {
			stroke-dasharray: 200;
    	stroke-dashoffset: 95;
		}
		.voice-lg {
			stroke-dasharray: 140;
			stroke-dashoffset: 5;
		}
		.voice-circle {
			transform-origin: center;
		}
		#voice:hover .voice-xs-1 {
			animation: voice_xs_one 3s infinite linear;
		}
		#voice:hover .voice-xs-2 {
			animation: voice_xs_two 3s infinite linear;
		}
		#voice:hover .voice-xs-3 {
			animation: voice_xs_three 3s infinite linear;
		}
		#voice:hover .voice-xs-4 {
			animation: voice_xs_four 3s infinite linear;
		}
		#voice:hover .voice-xs-5 {
			animation: voice_xs_five 3s infinite linear;
		}
		#voice:hover .voice-md-1 {
			animation: voice_md_one 4s infinite linear;
		}
		#voice:hover .voice-md-2 {
			animation: voice_md_two 4s infinite linear;
		}
		#voice:hover .voice-md-3 {
			animation: voice_md_three 4s infinite linear;
		}
		#voice:hover .voice-md-4 {
			animation: voice_md_four 4s infinite linear;
		}
		#voice:hover .voice-md-5 {
			animation: voice_md_five 4s infinite linear;
		}
		#voice:hover .voice-lg-1 {
			animation: voice_lg_one 3s infinite linear;
		}
		#voice:hover .voice-lg-2 {
			animation: voice_lg_two 3s infinite linear;
		}
		#voice:hover .voice-lg-3 {
			animation: voice_lg_three 3s infinite linear;
		}
		#voice:hover .voice-lg-4 {
			animation: voice_lg_four 3s infinite linear;
		}
		#voice:hover .voice-lg-5 {
			animation: voice_lg_five 3s infinite linear;
		}
		#voice:hover .voice-lg-6 {
			animation: voice_lg_six 3s infinite linear;
		}
		#voice:hover .voice-circle {
			animation: voice_circle_move 3s infinite;
		}
		#voice:hover .voice-circle-2 {
			animation-delay: 1s;
		}
		#voice:hover .voice-circle-3 {
			animation-delay: 2s;
		}

		@keyframes voice_circle_move {
			0% {
				opacity: 0;
				transform: scale(0.8);
			}
			25% {
				opacity: 0.25;
			}
			100% {
				opacity: 0;
				transform: scale(1.3);
			}
		}
		@keyframes voice_md_one {
			0% {
				stroke-dashoffset: 305;
			
			}
			1% {
				stroke-dashoffset: 100;
			
			}
			80% {
			
			}
			100% {
				stroke-dashoffset: 100;
			
			}
		}
		@keyframes voice_md_two {
			0% {
				stroke-dashoffset: 305;
			
			}
			25% {
				stroke-dashoffset: 100;
			
			}
			80% {
				
			}
			100% {
				stroke-dashoffset: 100;
				
			}
		}
		@keyframes voice_md_three {
			0% {
				stroke-dashoffset: 305;
			}
			24% {
				stroke-dashoffset: 305;
			}
			49% {
				stroke-dashoffset: 100;
			}
			85% {
			
			}
			100% {
				stroke-dashoffset: 100;
			
			}
		}
		@keyframes voice_md_four {
			0% {
				stroke-dashoffset: 305;
			}
			48% {
				stroke-dashoffset: 305;
			}
			74% {
				stroke-dashoffset: 100;
			}
			90% {
				
			}
			100% {
				stroke-dashoffset: 100;

			}
		}
		@keyframes voice_md_five {
			0% {
				stroke-dashoffset: 305;
			}
			74% {
				stroke-dashoffset: 305;
			}
			100% {
				stroke-dashoffset: 100;
			}
		}

		@keyframes voice_xs_one {
			0% {
				stroke-dashoffset: 200;
			}
			20% {
				stroke-dashoffset: 90;
			}
			100% {
				stroke-dashoffset: 90;
			}
		}
		@keyframes voice_xs_two {
			0% {
				stroke-dashoffset: 200;
			}
			20% {
				stroke-dashoffset: 200;
			}
			40% {
				stroke-dashoffset: 90;
			}
			100% {
				stroke-dashoffset: 90;
			}
		}
		@keyframes voice_xs_three {
			0% {
				stroke-dashoffset: 200;
			}
			40% {
				stroke-dashoffset: 200;
			}
			60% {
				stroke-dashoffset: 90;
			}
			100% {
				stroke-dashoffset: 90;
			}
		}
		@keyframes voice_xs_four {
			0% {
				stroke-dashoffset: 200;
			}
			60% {
				stroke-dashoffset: 200;
			}
			80% {
				stroke-dashoffset: 90;
			}
			100% {
				stroke-dashoffset: 90;

			}
		}
		@keyframes voice_xs_five {
			0% {
				stroke-dashoffset: 200;
			}
			80% {
				stroke-dashoffset: 200;
			}
			100% {
				stroke-dashoffset: 90;
			}
		}

		@keyframes voice_lg_one {
			0% {
				stroke-dashoffset: 140;
			}
			17% {
				stroke-dashoffset: 5;
			}
			100% {
				stroke-dashoffset: 5;
			}
		}	

		@keyframes voice_lg_two {
			0% {
				stroke-dashoffset: 140;
			}
			17% {
				stroke-dashoffset: 140;
			}
			34% {
				stroke-dashoffset: 5;
			}
			100% {
				stroke-dashoffset: 5;
			}
		}
		@keyframes voice_lg_three {
			0% {
				stroke-dashoffset: 140;
			}
			34% {
				stroke-dashoffset: 140;
			}
			51% {
				stroke-dashoffset: 5;
			}
			100% {
				stroke-dashoffset: 5;
			}
		}	
		@keyframes voice_lg_four {
			0% {
				stroke-dashoffset: 140;
			}
			51% {
				stroke-dashoffset: 140;
			}
			68% {
				stroke-dashoffset: 5;
			}
			100% {
				stroke-dashoffset: 5;
			}
		}	
		@keyframes voice_lg_five {
			0% {
				stroke-dashoffset: 140;
			}
			68% {
				stroke-dashoffset: 140;
			}
			83% {
				stroke-dashoffset: 5;
			}
			100% {
				stroke-dashoffset: 5;
			}
		}
		@keyframes voice_lg_six {
			0% {
				stroke-dashoffset: 140;
			}
			83% {
				stroke-dashoffset: 140;
			}
			100% {
				stroke-dashoffset: 5;
			}
		}		
	</style>
<mask id="voice_mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="320" height="290">
<rect width="320" height="290" fill="white"/>
</mask>
<g mask="url(#voice_mask0)">

<circle opacity="0.1" cx="160.5" cy="130.5" r="81.5" stroke="white" class="voice-circle voice-circle-1"/>
<circle opacity="0.1" cx="160.5" cy="130.5" r="81.5" stroke="white" class="voice-circle voice-circle-2"/>
<circle opacity="0.1" cx="160.5" cy="130.5" r="81.5" stroke="white" class="voice-circle voice-circle-3"/>

<path fill-rule="evenodd" clip-rule="evenodd" d="M160 190C193.137 190 220 163.137 220 130C220 96.8629 193.137 70 160 70C126.863 70 100 96.8629 100 130C100 163.137 126.863 190 160 190ZM169.97 129C169.97 133.98 165.98 138 161 138C156.02 138 152 133.98 152 129V111C152 106.02 156.02 102 161 102C165.98 102 170 106.02 170 111L169.97 129ZM161 144.3C169.28 144.3 176.9 138 176.9 129H182C182 139.26 173.84 147.72 164 149.16V159H158V149.16C148.16 147.69 140 139.23 140 129H145.1C145.1 138 152.72 144.3 161 144.3Z" fill="url(#voice_paint0_linear)"/>
<!-- <circle opacity="0.04" cx="160.5" cy="130.5" r="112.5" stroke="white"/> -->
<g opacity="0.36">
<path d="M-75 266C-59.2411 266 -55 178 -35 178C-15 178 -15.3229 266 5 266" stroke="white" stroke-width="2" class="voice-md voice-md-1"/>
<path d="M5 266C20.7589 266 25 178 45 178C65 178 64.6771 266 85 266" stroke="white" stroke-width="2" class="voice-md voice-md-2"/>
<path d="M85 266C100.759 266 105 178 125 178C145 178 144.677 266 165 266" stroke="white" stroke-width="2" class="voice-md voice-md-3"/>
<path d="M165 266C180.759 266 185 178 205 178C225 178 224.677 266 245 266" stroke="white" stroke-width="2" class="voice-md voice-md-4"/>
<path d="M245 266C260.759 266 265 178 285 178C305 178 304.677 266 325 266" stroke="white" stroke-width="2" class="voice-md voice-md-5"/>
</g>
<path d="M-17 237C-1.24112 237 3 207 23 207C43 207 42.6771 237 63 237" stroke="white" stroke-width="2" class="voice-xs voice-xs-1"/>
<path d="M63 237C78.7589 237 83 207 103 207C123 207 122.677 237 143 237" stroke="white" stroke-width="2" class="voice-xs voice-xs-2"/>
<path d="M143 237C158.759 237 163 207 183 207C203 207 202.677 237 223 237" stroke="white" stroke-width="2" class="voice-xs voice-xs-3"/>
<path d="M223 237C238.759 237 243 207 263 207C283 207 282.677 237 303 237" stroke="white" stroke-width="2" class="voice-xs voice-xs-4"/>
<path d="M303 237C318.759 237 323 207 343 207C363 207 362.677 237 383 237" stroke="white" stroke-width="2" class="voice-xs voice-xs-5"/>
<g opacity="0.12">
<path d="M-20 250C-7.58988 250 -4.25 194 11.5 194C27.25 194 26.9957 250 43 250" stroke="white" stroke-width="2" class="voice-lg voice-lg-1"/>
<path d="M43 250C55.4101 250 58.75 194 74.5 194C90.25 194 89.9957 250 106 250" stroke="white" stroke-width="2" class="voice-lg voice-lg-2"/>
<path d="M106 250C118.41 250 121.75 194 137.5 194C153.25 194 152.996 250 169 250" stroke="white" stroke-width="2" class="voice-lg voice-lg-3"/>
<path d="M169 250C181.41 250 184.75 194 200.5 194C216.25 194 215.996 250 232 250" stroke="white" stroke-width="2" class="voice-lg voice-lg-4"/>
<path d="M232 250C244.41 250 247.75 194 263.5 194C279.25 194 278.996 250 295 250" stroke="white" stroke-width="2" class="voice-lg voice-lg-5"/>
<path d="M295 250C307.41 250 310.75 194 326.5 194C342.25 194 341.996 250 358 250" stroke="white" stroke-width="2" class="voice-lg voice-lg-6"/>
</g>
</g>
<defs>
<linearGradient id="voice_paint0_linear" x1="100" y1="70" x2="100" y2="190" gradientUnits="userSpaceOnUse">
<stop stop-color="white"/>
<stop offset="1" stop-color="#D8D8D8" stop-opacity="0.199355"/>
</linearGradient>
</defs>
</svg>