<!-- Constructor BOX -->
<div class="w-full md:w-1/2 xl:w-1/3 md:px-2 mb-2">
	<div class="constr_box">
		<!-- Constructor BOX -- Add Btn -->
		<div class="constr_box_add constr-add-js flex items-center" data-box-id="@@box-id">
			<div class="constr-add-btn flex">
				<img src="img/plus.svg" alt="" width="24px">
			</div>
			<!-- Modal Constructor Added Count  -->
			<div class="constr-add-count flex items-center hidden" data-box-id="@@box-id">
				<div class="constr_count flex">
					<span class="constr_count_minus">
						<img src="img/icons/minus.svg" alt="" width="15px">
					</span>
					<input type="text" value="1" class="constr_count_input">
					<span class="constr_count_plus plus">
						<img src="img/icons/plus.svg" alt="" width="15px">
					</span>	
				</div>
			</div>
		</div>
		<!-- Constructor BOX -- Box img -->
		<div class="constr_box_img">
			<!-- Constructor PRODUCT :: components/constructor/product-name.html -->
			@@if (context.product === 'router') {
				@@include('components/constructor/products/router.html')
			}
			@@if (context.product === 'micro') {
				@@include('components/constructor/products/micro.html')
			}
			@@if (context.product === 'shtora') {
				@@include('components/constructor/products/shtora.html')
			}
			@@if (context.product === 'camera') {
				@@include('components/constructor/products/camera.html')
			}
			@@if (context.product === 'water') {
				@@include('components/constructor/products/water.html')
			}
			@@if (context.product === 'heating') {
				@@include('components/constructor/products/heating.html')
			}
			@@if (context.product === 'dimmer') {
				@@include('components/constructor/products/dimmer.html')
			}
			@@if (context.product === 'voice') {
				@@include('components/constructor/products/voice.html')
			}
			@@if (context.product === 'remote') {
				@@include('components/constructor/products/remote.html')
			}
		</div>
		<!-- Constructor BOX -- Box Bottom info -->
		<div class="constr_box_info flex items-center justify-between">
			<!-- Constructor BOX -- Box Bottom info LEFT PART -->
			
			<!-- Constructor ABOUT-ITEM :: components/constructor/constructor-about-item.html -->
			@@include('components/constructor/constructor-about-item.html', {
				"name": "@@name",
				"img": "@@img"
			})
			
			<!-- Constructor BOX -- Box Bottom info RIGHT PART/Info -->
			<div class="constr_box_info_icon modal_click_js cursor-pointer" data-modal-id="constr_box_item_@@box-id">
				<img src="img/info.png" alt="">
			</div>
		</div>
	</div>
</div>
<!-- END Constructor BOX -->